# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# Environment Variables (Berisi API Key RAWG & Steam)
.env
backend/.env

# OS specific files
.DS_Store
Thumbs.db